<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          {{!--
          Just in case the future me is trying to figure out why the navbar never collapses...
          Have a look at `@grid-float-breakpoint: 1px;` in `app.less`.
          - past me
          --}}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          {{#if session.isDecrypted}}
              <a href="/" class="navbar-brand" target="_blank">secsy<span class="text-muted">.io</span></a>
          {{else}}
              <a href="/" class="navbar-brand">secsy<span class="text-muted">.io</span></a>
          {{/if}}
        </div>

      {{#if session.isDecrypted}}
          <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li title="{{t 'nav.title.contacts'}}">{{#link-to 'contacts'}}<span
                          class="glyphicon glyphicon-book" aria-hidden="true"></span><span
                          class="sr-only">{{t 'nav.title.contacts'}}</span>{{/link-to}}</li>
                  <li title="{{t 'nav.title.map'}}">{{#link-to 'map'}}<span
                          class="glyphicon glyphicon-globe" aria-hidden="true"></span><span
                          class="sr-only">{{t 'nav.title.map'}}</span>{{/link-to}}</li>
                  <li title="{{t 'nav.title.create-contact'}}">{{#link-to 'contacts.new'}}<span
                          class="glyphicon glyphicon-plus" aria-hidden="true"></span><span
                          class="sr-only">{{t 'nav.title.create-contact'}}</span>{{/link-to}}</li>
              </ul>
              <div class="nav navbar-nav navbar-right">
                {{#unless isSearchVisible}}
                    <li title="{{t 'nav.title.search'}}"><a href="#" {{action 'openSearch'}}><span
                            class="glyphicon glyphicon-search" aria-hidden="true"></span><span
                            class="sr-only">{{t 'nav.title.search'}}</span></a></li>
                {{/unless}}
                  <li title="{{t 'nav.title.preferences'}}">{{#link-to 'preferences'}}<span
                          class="glyphicon glyphicon-wrench" aria-hidden="true"></span><span
                          class="sr-only">{{t 'nav.title.preferences'}}</span>{{/link-to}}</li>
                  <li title="{{t 'nav.title.logout'}}"><a href="#" {{action 'invalidateSession'}}><span
                          class="glyphicon glyphicon-log-out" aria-hidden="true"></span><span
                          class="sr-only">{{t 'nav.title.logout'}}</span></a></li>
              </div>
          </div><!--/.nav-collapse -->
      {{/if}}
    </div>
</nav>
