{{#if model.decrypted}}
    <h3>{{model.name$}}</h3>
{{else}}
    <h3>{{model.id}}</h3>
{{/if}}

<div class="row">
    <div class="col-sm-6 col-lg-6">
        <p>{{t 'contact.created-at' timestamp=(format-relative model.createdAt)}},
          {{t 'contact.updated-at' timestamp=(format-relative model.updatedAt)}} </p>
    </div>
    <div class="col-sm-6 col-lg-6">
      {{#if canReview}}
        {{#if model.newValuesCount}}
          {{#bs-alert type="info"}}
            {{#link-to 'contacts.review' model}}{{t 'contact.update-available'}}{{/link-to}}
          {{/bs-alert}}
        {{/if}}
      {{/if}}
    </div>
</div>
