{{!--
secsy-webclient

Copyright (c) 2016 Reto Inderbitzin <mail@indr.ch>

For the full copyright and licence information, please view
the LICENSE file that was distributed with this source code.
--}}

{{#if properties}}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>{{t 'review.category'}}</th>
                <th>{{t 'review.name'}}</th>
                <th>{{t 'review.value'}}</th>
                <th>{{t 'review.update'}}</th>
                <th>{{t 'review.checkbox'}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each properties as |property|}}
                <tr>
                    <td>{{t property.legend}}</td>
                    <td>{{t property.name}}</td>
                    <td>{{property.value}}</td>
                    <td>{{property.update}}</td>
                    <td>{{input type="checkbox" checked=property.checked}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
  {{#bs-alert type="info"}}
      <p>{{t 'errors.no-updates'}}</p>
  {{/bs-alert}}
{{/if}}
{{#if properties}}
  {{#bs-button type="primary" action="apply" textState=applyState}}{{t 'actions.update'}}{{/bs-button}}
  {{#bs-button type="default" action="back"}}{{t 'actions.cancel'}}{{/bs-button}}
  {{#bs-button type="danger" action="dismiss" textState=dismissState}}{{t 'actions.dismiss'}}{{/bs-button}}
{{else}}
  {{#bs-button type="default" action="back"}}{{t 'actions.back'}}{{/bs-button}}
{{/if}}
