{{!--
secsy-webclient

Copyright (c) 2016 Reto Inderbitzin <mail@indr.ch>

For the full copyright and licence information, please view
the LICENSE file that was distributed with this source code.
--}}

{{#if model.decrypted}}
    <h3>{{model.name$}}</h3>
{{else}}
    <h3>{{model.id}}</h3>
{{/if}}

<div class="row">
    <div class="col-sm-6 col-lg-6">
        <p>
          {{t 'contact.created-at' timestamp=(format-relative model.createdAt)}}
            ,
          {{t 'contact.updated-at' timestamp=(format-relative model.updatedAt)}} </p>
    </div>
    <div class="col-sm-6 col-lg-6">
      {{#unless isEditing}}
          <p class="text-right">
              <a href="#" {{action 'downloadCard'}} class="btn btn-primary btn-sm" title={{t 'actions.export-contact'}}>&nbsp;<span
                      class="glyphicon glyphicon-credit-card"
                      aria-hidden="true"></span></a>
          </p>
      {{/unless}}
      {{#if canReview}}
        {{#if model.newValuesCount}}
          {{#bs-alert type="info"}}
            {{#link-to 'contacts.review' model}}{{t 'contact.update-available'}}{{/link-to}}
          {{/bs-alert}}
        {{/if}}
      {{/if}}
    </div>
</div>
