<div class="row">
    <div class="col-sm-1" id="letters-scrollspy">
        <ul class="nav nav-tabs nav-stacked" id="letters-affix">
          {{#each groups as |group index|}}
              {{!--<li><a href="#{{group.value}}" {{action 'scrollTo' group.value}}>{{group.value}}</a></li>--}}
              <li><a href="#section-{{group.value}}" class="hidden"></a><a href="contacts#{{group.value}}">{{group.value}}</a></li>
          {{/each}}
        </ul>
    </div>
    <div class="col-sm-11">
      {{#each groups as |group|}}
          <section id="section-{{group.value}}">
              <a name="{{group.value}}" class="anchor"></a>
              <div class="row">
                  <div class="col-xs-12">
                      <h3>{{group.value}}</h3>
                  </div>
              </div>
              <div class="row">
                {{#each group.items as |contact|}}
                  {{contact-card contact=contact}}
                {{/each}}
              </div>
          </section>
      {{/each}}
    </div>
</div>
