{{#if model.decrypted}}
    <h3>{{model.name$}}</h3>
{{else}}
    <h3>{{model.id}}</h3>
{{/if}}

<div class="row">
    <div class="col-sm-6 col-lg-6">
        <p>Created on {{format-date model.createdAt}}<br>Updated on {{format-date model.updatedAt}}</p>
    </div>
    <div class="col-sm-6 col-lg-6">
      {{#if model.sharesCount}}
          <div class="alert alert-info">
            {{#link-to 'contacts.review' model}}{{t 'contact.update-available'}}{{/link-to}}
          </div>
      {{/if}}
    </div>
</div>
