{{!--
secsy-webclient

Copyright (c) 2016 Reto Inderbitzin <mail@indr.ch>

For the full copyright and licence information, please view
the LICENSE file that was distributed with this source code.
--}}

<div class="row">
    <div class="hidden-xs col-sm-2 col-md-1" id="letters-scrollspy">
        <ul class="nav nav-tabs nav-stacked" id="letters-affix">
          {{#each groups as |group index|}}
              <li><a href="#section-{{group.value}}" class="hidden"></a><a href="contacts#{{group.value}}">{{group.value}}</a></li>
          {{/each}}
        </ul>
    </div>
    <div class="col-sm-10 col-md-11">
      {{#each groups as |group|}}
          <section id="section-{{group.value}}">
              <a name="{{group.value}}" class="anchor"></a>
              <div class="row hidden-xs">
                  <div class="col-xs-12">
                      <h3 class="text-muted">{{group.value}}</h3>
                  </div>
              </div>
              <div class="row">
                {{#each group.items as |contact|}}
                  {{contact-card contact=contact}}
                {{/each}}
              </div>
          </section>
      {{/each}}
    </div>
</div>
