<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  {{#link-to "contacts.view" contact class='card-link'}}
      <div class="thumbnail card">
          <div class="caption">
            {{#if contact.decrypted}}
              {{#if contact.sharesCount}}<span
                      class="pull-left label label-pill label-danger label">{{contact.sharesCount}}</span> {{/if}}
                <h4>{{contact.name$}}</h4>
                <p>{{contact.emailAddress$}}</p>
                <p>{{contact.phoneNumber$}}</p>
            {{else}}
                <h4><span class="glyphicon glyphicon-alert"></span> {{t 'errors.decryption-failed'}}</h4>
                <p>{{contact.id}}</p>
            {{/if}}
          </div>
      </div>
  {{/link-to}}
</div>
