{{#bs-form action='deleteAccount' model=this novalidate=true}}
    <div class="{{if isModal 'modal-body'}}">
      {{bs-form-element controlType='textarea' property='message' label=(t 'profile.delete-account.message') autofocus=true}}
      {{bs-form-element controlType='password' property='password' label=(t 'profile.delete-account.password')}}
    </div>

    <div class="{{if isModal 'modal-footer'}}">
        <p class="form-control-static">{{t 'profile.delete-account.warning'}}</p>
      {{#bs-button type='danger' buttonType='submit' textState=deleteAccountState}}{{t 'profile.delete-account.action'}}{{/bs-button}}
      {{#link-to 'preferences' class='btn btn-default'}}{{t 'actions.cancel'}}{{/link-to}}
    </div>
{{/bs-form}}
