{{#if showSuccess}}
    <div class="{{if isModal 'modal-body'}}">
      {{format-html-message 'forgot.success' email=email}}
    </div>
    <div class="{{if isModal 'modal-footer'}}">
      {{#bs-form-group}}
        {{#link-to 'login' class="btn btn-link pull-left"}}{{t 'actions.login'}}{{/link-to}}
      {{/bs-form-group}}
    </div>
{{else}}
  {{#bs-form action="sendReset" model=this novalidate=true}}
      <div class="{{if isModal 'modal-body'}}">
        {{format-html-message 'forgot.text' email=email}}
        {{bs-form-element controlType="text" label=(t 'login.username') property="email" autofocus=true}}
      </div>
      <div class="{{if isModal 'modal-footer'}}">
        {{#bs-button type="primary" buttonType="submit"}}{{t 'actions.forgot'}}{{/bs-button}}
        {{#link-to 'login' class="btn btn-default"}}{{t 'actions.cancel'}}{{/link-to}}
      </div>
  {{/bs-form}}
{{/if}}
