{{#bs-form action="generate" model=this}}
    <div class="{{if isModal 'modal-body'}}">
      {{#if noSsl}}
        {{#bs-alert type="warning"}}
          {{format-html-message 'warnings.no-ssl'}}
        {{/bs-alert}}
      {{/if}}
      {{#if forgot}}
          <div class="alert alert-warning">
            {{format-html-message 'generate-new.warning'}}
          </div>
      {{/if}}
      {{bs-form-element controlType="password" label=(t 'generate.passphrase') property="passphrase"}}
    </div>
    <div class="{{if isModal 'modal-footer'}}">
      {{#bs-form-group}}
        {{#bs-button type="primary" buttonType="submit"}}{{t 'actions.generate'}}{{/bs-button}}
        {{#link-to 'decrypt' class="btn btn-default"}}{{t 'actions.cancel'}}{{/link-to}}
      {{/bs-form-group}}
    </div>
{{/bs-form}}
