{{!--
secsy-webclient

Copyright (c) 2016 Reto Inderbitzin <mail@indr.ch>

For the full copyright and licence information, please view
the LICENSE file that was distributed with this source code.
--}}

{{#bs-form action="generate" model=this novalidate=true}}
    <div class="{{if isModal 'modal-body'}}">
      {{#if forgot}}
          <div class="alert alert-warning">
            {{format-html-message 'generate-new.warning'}}
          </div>
      {{/if}}
      {{bs-form-element controlType="password" label=(t 'generate.passphrase') property="passphrase" autofocus=true}}
    </div>
    <div class="{{if isModal 'modal-footer'}}">
      {{#bs-form-group}}
        {{#bs-button type="primary" buttonType="submit" textState=generateState}}{{t 'actions.generate'}}{{/bs-button}}
        {{#bs-button type="default" buttonType="button" action='cancel'}}{{t 'actions.cancel'}}{{/bs-button}}
      {{/bs-form-group}}
    </div>
{{/bs-form}}
