{{#bs-form action="login" model=this novalidate=true}}
    <div class="{{if isModal 'modal-body'}}">
      {{bs-form-element controlType="text" label=(t 'login.username') property="emailAddress" autofocus=true}}
      {{bs-form-element controlType="password" label=(t 'login.password') property="password"}}
        <span class="help-block">{{#link-to 'forgot-password'}}{{t 'login.forgotPassword'}}{{/link-to}}</span>
    </div>
    <div class="{{if isModal 'modal-footer'}}">
      {{#bs-form-group}}
        {{#bs-button type="primary" buttonType="submit"}}{{t 'actions.login'}}{{/bs-button}}
          <a href="/" class="btn btn-default">{{t 'actions.cancel'}}</a>
        {{#link-to 'signup' class="btn btn-link pull-left"}}{{t 'actions.signup'}}{{/link-to}}
      {{/bs-form-group}}
    </div>
{{/bs-form}}
