{{#bs-form action="login" model=this novalidate=true}}
    <div class="{{if isModal 'modal-body'}}">
      {{bs-form-element controlType="text" label=(t 'login.username') property="emailAddress"}}
      {{bs-form-element controlType="password" label=(t 'login.password') property="password"}}
    </div>
    <div class="{{if isModal 'modal-footer'}}">
      {{#bs-form-group}}
        {{#link-to 'signup' class="btn btn-link pull-left"}}{{t 'actions.signup'}}{{/link-to}}
        {{#bs-button type="primary" buttonType="submit"}}{{t 'actions.login'}}{{/bs-button}}
        {{!--{{#link-to 'index' class="btn btn-default"}}{{t 'actions.cancel'}}{{/link-to}}--}}
          <a href="/" class="btn btn-default">{{t 'actions.cancel'}}</a>
      {{/bs-form-group}}
    </div>
{{/bs-form}}
