{{!--
secsy-webclient

Copyright (c) 2016 Reto Inderbitzin <mail@indr.ch>

For the full copyright and licence information, please view
the LICENSE file that was distributed with this source code.
--}}

{{#if showSuccess}}
    <div class="{{if isModal 'modal-body'}}">
      {{format-html-message 'signup.success' email=email}}
    </div>
    <div class="{{if isModal 'modal-footer'}}">
      {{#bs-form-group}}
        {{#link-to 'login' class="btn btn-link pull-left"}}{{t 'actions.login'}}{{/link-to}}
      {{/bs-form-group}}
    </div>
{{else}}
  {{#bs-form action="signup" model=this novalidate=true}}
      <div class="{{if isModal 'modal-body'}}">
        {{bs-form-element controlType="text" label=(t 'signup.email') property="email" autofocus=true}}
        {{bs-form-element controlType="password" label=(t 'signup.password') property="password"}}
        {{bs-form-element controlType="password" label=(t 'signup.password-confirm') property="confirmPassword"}}
        {{bs-form-element controlType="checkbox" label=(t 'signup.sync-enabled') property="syncEnabled"}}
      </div>
      <div class="{{if isModal 'modal-footer'}}">
        {{#bs-form-group}}
          {{#bs-button type="primary" buttonType="submit" textState=signupState}}{{t 'actions.signup'}}{{/bs-button}}
          {{#link-to 'login' class="btn btn-default"}}{{t 'actions.cancel'}}{{/link-to}}
        {{/bs-form-group}}
      </div>
  {{/bs-form}}
{{/if}}
