<h3>Edit contact</h3>

<div>
    <label>Name</label>
    {{input type='text' value=model.name}}
</div>

<div>
    <label>Email address</label>
    {{input type='text' value=model.emailAddress}}
</div>

<div>
    <label>Phone number</label>
    {{input type='text' value=model.phoneNumber}}
</div>

<p>
    <button {{action 'save' model}}>Save</button>
    {{#link-to "contacts"}}Back{{/link-to}}
</p>

{{outlet}}
