<h3>{{title}}</h3>

{{#bs-form action="save" formLayout="horizontal"}}
    {{bs-form-element controlType="text" label="Name" value=model.name}}
    {{bs-form-element controlType="text" label="Email address" value=model.emailAddress}}
    {{bs-form-element controlType="text" label="Phone number" value=model.phoneNumber}}

    {{#bs-button type="primary" buttonType="submit"}}Save{{/bs-button}}
    {{#bs-button type="default" action="cancel"}}Cancel{{/bs-button}}
{{/bs-form}}

{{outlet}}
