<h3>{{title}}</h3>

{{#bs-form action="save" model=model formLayout="horizontal"}}
    {{bs-form-element controlType="text" label="Name" property="name"}}
    {{bs-form-element controlType="text" label="Email address" property="emailAddress"}}
    {{bs-form-element controlType="text" label="Phone number" property="phoneNumber"}}

    {{#bs-form-group}}
        <div class="col-sm-offset-4 col-sm-8">
            {{#bs-button type="primary" buttonType="submit"}}Save{{/bs-button}}
            {{#bs-button type="default" action="cancel"}}Cancel{{/bs-button}}
        </div>
    {{/bs-form-group}}
{{/bs-form}}

{{outlet}}
