<h3>View contact</h3>

<p>Name: {{model.name}}</p>
<p>Email address: {{model.emailAddress}}</p>
<p>Phone number: {{model.phoneNumber}}</p>

<p>
    {{#link-to 'contacts.edit' model class="btn btn-primary"}}Edit{{/link-to}}
    <button {{action 'delete' model}} class="btn btn-default">Delete</button>
</p>

{{outlet}}
