<h3>{{model.name$}}</h3>

<p>Email address: {{model.emailAddress$}}</p>
<p>Phone number: {{model.phoneNumber$}}</p>

<p>Latitude: {{model.latitude$}}</p>
<p>Longitude: {{model.longitude$}}</p>
<p>{{#link-to 'map.view' model}}Show on map{{/link-to}}</p>

<p>Created: {{format-date model.createdAt}}</p>
<p>Accessed: {{format-date model.accessedAt}}</p>

<p>
  {{#link-to 'contacts.edit' model class="btn btn-primary"}}{{t 'actions.edit'}}{{/link-to}}
    <button {{action 'delete' model}} class="btn btn-default">{{t 'actions.delete'}}</button>
  {{#if model.me}}
      <button {{action 'share' model}} class="btn btn-success">Share</button>
  {{/if}}
</p>

{{outlet}}
