<h3>{{model.name$}}</h3>

<p>Email address: {{model.emailAddress$}}</p>
<p>Phone number: {{model.phoneNumber$}}</p>

<p>Latitude: {{model.latitude$}}</p>
<p>Longitude: {{model.longitude$}}</p>
<p>{{#link-to 'map.view' model}}Show on map{{/link-to}}</p>

<p>Created: {{format-date model.createdAt}}</p>
<p>Accessed: {{format-date model.accessedAt}}</p>

<p>
  {{#link-to 'contacts.edit' model class="btn btn-primary"}}{{t 'actions.edit'}}{{/link-to}}
    <button {{action 'delete' model}} class="btn btn-default">{{t 'actions.delete'}}</button>
  {{#if model.me}}
      <button {{action 'share' model}} class="btn btn-success">Share</button>
  {{/if}}
</p>


<h4 style="margin-top:30px">Shares</h4>
{{#each model.shares as |share|}}
    <div class="row">
        <div class="col-md-8">
            Phone number: {{share.decrypted.phoneNumber$}}<br>
            Latitude: {{share.decrypted.latitude$}}<br>
            Longitude: {{share.decrypted.longitude$}}
        </div>
        <div class="col-md4">
            <button {{action 'applyShare' share}} class="btn btn-primary">Apply</button>
            <button {{action 'dismissShare' share}} class="btn btn-default">Dismiss</button>
        </div>
    </div>
{{else}}
  <p>No shares. Click 'Get shares' in the main menu to refresh.</p>
{{/each}}
{{outlet}}
