{{contact-decryption-failed model=model clean='clean'}}

{{contact-header model=model}}

{{contact-view model=model}}

{{#link-to 'contacts' class="btn btn-default" active=false}}{{t 'actions.back'}}{{/link-to}}
{{#link-to 'contacts.edit' model class="btn btn-primary"}}{{t 'actions.edit'}}{{/link-to}}
{{#if model.me}}
  {{#link-to 'contacts.share' model class="btn btn-success"}}{{t 'actions.share'}}...{{/link-to}}
{{else}}
    <button {{action 'destroy' model}} class="btn btn-danger">{{t 'actions.delete'}}</button>
{{/if}}

{{outlet}}
