{{contact-decryption-failed model=model clean='clean'}}

{{#if model.decrypted}}
    <h3>{{model.name$}}</h3>
{{else}}
    <h3>{{model.id}}</h3>
{{/if}}

<p>Created on {{format-date model.createdAt}} | Updated on {{format-date model.updatedAt}}</p>

<p>{{model.currentState.stateName}}</p>

{{contact-view model=model}}

{{#link-to 'contacts' class="btn btn-default" active=false}}{{t 'actions.back'}}{{/link-to}}
{{#link-to 'contacts.edit' model class="btn btn-default"}}{{t 'actions.edit'}}{{/link-to}}
{{#if model.me}}
  {{#link-to 'contacts.share' model class="btn btn-default"}}{{t 'actions.share'}}...{{/link-to}}
{{else}}
    <button {{action 'delete' model}} class="btn btn-danger">{{t 'actions.delete'}}</button>
{{/if}}

{{outlet}}
