{{!--
secsy-webclient

Copyright (c) 2016 Reto Inderbitzin <mail@indr.ch>

For the full copyright and licence information, please view
the LICENSE file that was distributed with this source code.
--}}

{{#bs-form action='savePreferences' model=model novalidate=true formLayout='horizontal'}}
    <fieldset>
        <legend>{{t 'profile.preferences'}}</legend>
      {{#bs-form-element controlType='text' label=(t 'profile.email-address')}}
          <p class="form-control-static">{{model.email}}</p>
      {{/bs-form-element}}

      {{#bs-form-element controlType='text' label=(t 'profile.password')}}
        {{#bs-button type='default' action='sendPasswordResetEmail' textState=sendPasswordResetEmailState}}{{t 'profile.send-password-reset-email'}}{{/bs-button}}
      {{/bs-form-element}}

      {{#bs-form-element controlType='text' label=(t 'profile.passphrase')}}
        {{#link-to 'preferences.change-passphrase' class='btn btn-default'}}{{t 'profile.actions.change-passphrase'}}{{/link-to}}
      {{/bs-form-element}}

      {{#bs-form-element controlType='text' label=(t 'profile.language')}}
          <label>
            {{radio-button value='en-US' checked=model.locale}}
              English
          </label>
          <br>
          <label>
            {{radio-button value='de-DE' checked=model.locale}}
              Deutsch
          </label>
      {{/bs-form-element}}

      {{bs-form-element controlType='checkbox' label=(t 'profile.sync-enabled') property='syncEnabled'}}

      {{#bs-form-element}}
        {{#bs-button type="primary" buttonType="submit" textState=savePreferencesState}}{{t 'actions.save'}}{{/bs-button}}
      {{/bs-form-element}}
    </fieldset>
{{/bs-form}}

{{#bs-form novalidate=true formLayout='horizontal'}}
    <fieldset>
        <legend>{{t 'profile.tools'}}</legend>

      {{#if canPullUpdates}}
        {{#bs-form-element controlType='text'}}
          {{#bs-button type='default' action='sendPullUpdates' textState=pullUpdatesState}}{{t 'actions.get-updates'}}{{/bs-button}}
        {{/bs-form-element}}
      {{/if}}

      {{#bs-form-element controlType='text'}}
        {{#bs-button type='default' action='generateFakes' textState=generateFakesState}}{{t 'actions.generate-fakes'}}{{/bs-button}}
      {{/bs-form-element}}

      {{#bs-form-element controlType='text'}}
        {{#bs-button type='default' action='deleteAll' textState=deleteAllState}}{{t 'actions.delete-all'}}{{/bs-button}}
      {{/bs-form-element}}

      {{#bs-form-element controlType='text'}}
        {{#link-to 'preferences.delete-account' class='btn btn-warning'}}{{t 'profile.actions.delete-account'}}{{/link-to}}
      {{/bs-form-element}}
    </fieldset>
{{/bs-form}}
