{{app-navbar}}

<div class="container">
    <div class="flash-messages-container">
      {{#if noSsl}}
        {{#bs-alert type="warning"}}
          {{format-html-message 'warnings.no-ssl'}}
        {{/bs-alert}}
      {{/if}}
      {{#unless isModal}}
        {{#each flashMessages.queue as |flash|}}
          {{flash-message flash=flash}}
        {{/each}}
      {{/unless}}
    </div>
    <div class="progress-bar-container">
      {{#if progress.max}}
        {{#bs-progress}}
          {{bs-progress-bar value=progress.value minValue=0 maxValue=progress.max showLabel=false type=progress.type}}
        {{/bs-progress}}
      {{/if}}
    </div>
  {{outlet}}
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-muted"><a href="" {{action "setLocale" "en-US"}}>English</a> | <a
                        href="" {{action "setLocale" "de-DE"}}>Deutsch</a></p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted text-right">&copy; 2016 Reto Inderbitzin</p>
            </div>
        </div>
    </div>
</footer>