<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          {{!--
          Just in case the future me is trying to figure out why the navbar never collapses...
          Have a look at `@grid-float-breakpoint: 1px;` in `app.less`.
          - past me
          --}}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          {{#if session.isDecrypted}}
              <a href="/" class="navbar-brand" target="_blank">secsy<span class="text-muted">.io</span></a>
          {{else}}
              <a href="/" class="navbar-brand">secsy<span class="text-muted">.io</span></a>
          {{/if}}
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {{#if session.isDecrypted}}
                  <li title="{{t 'nav.title.contacts'}}">{{#link-to 'contacts'}}<span
                          class="glyphicon glyphicon-book" aria-hidden="true"></span><span
                          class="sr-only">{{t 'nav.title.contacts'}}</span>{{/link-to}}
                  </li>
                  <li title="{{t 'nav.title.map'}}">{{#link-to 'map'}}<span
                          class="glyphicon glyphicon-globe" aria-hidden="true"></span><span
                          class="sr-only">{{t 'nav.title.map'}}</span>{{/link-to}}
                  </li>
                  <li title="{{t 'nav.title.create-contact'}}">{{#link-to 'contacts.new'}}<span
                          class="glyphicon glyphicon-plus" aria-hidden="true"></span><span
                          class="sr-only">{{t 'nav.title.create-contact'}}</span>{{/link-to}}</li>
              {{/if}}
            </ul>
            <div class="nav navbar-nav navbar-right">
              {{#if session.isDecrypted}}
                  <li title="{{t 'nav.title.preferences'}}">{{#link-to 'preferences'}}<span
                          class="glyphicon glyphicon-wrench" aria-hidden="true"></span><span
                          class="sr-only">{{t 'nav.title.preferences'}}</span>{{/link-to}}
                  </li>
                  <li title="{{t 'nav.title.logout'}}"><a href="#" {{action 'invalidateSession'}}><span
                          class="glyphicon glyphicon-log-out" aria-hidden="true"></span><span
                          class="sr-only">{{t 'nav.title.logout'}}</span></a></li>
              {{/if}}
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="flash-messages-container">
      {{#if noSsl}}
        {{#bs-alert type="warning"}}
          {{format-html-message 'warnings.no-ssl'}}
        {{/bs-alert}}
      {{/if}}
      {{#unless isModal}}
        {{#each flashMessages.queue as |flash|}}
          {{flash-message flash=flash}}
        {{/each}}
      {{/unless}}
    </div>
    <div class="progress-bar-container">
      {{#if progress.max}}
        {{#bs-progress}}
          {{bs-progress-bar value=progress.value minValue=0 maxValue=progress.max showLabel=false type=progress.type}}
        {{/bs-progress}}
      {{/if}}
    </div>
  {{outlet}}
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-muted"><a href="" {{action "setLocale" "en-US"}}>English</a> | <a
                        href="" {{action "setLocale" "de-DE"}}>Deutsch</a></p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted text-right">&copy; 2016 Reto Inderbitzin</p>
            </div>
        </div>
    </div>
</footer>