<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          {{!--
          Just in case the future me is trying to figure out why the navbar never collapses...
          Have a look at `@grid-float-breakpoint: 1px;` in `app.less`.
          - past me
          --}}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          {{#if session.isAuthenticated}}
            {{#link-to "contacts" class="navbar-brand hidden-xs"}}addressbook{{/link-to}}
          {{else}}
          {{!--{{#link-to "index" class="navbar-brand"}}addressbook{{/link-to}}--}}
              <a href="/" class="navbar-brand">addressbook</a>
          {{/if}}
        </div>


        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {{#if session.isDecrypted}}
                  <li class="visible-xs">{{#link-to 'contacts'}}<span class="glyphicon glyphicon-book" aria-hidden="true"></span><span class="sr-only">contacts</span>{{/link-to}}</li>
                  <li>{{#link-to 'map'}}<span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span
                          class="sr-only">map</span>{{/link-to}}
                  </li>
                  <li>{{#link-to 'contacts.new'}}<span class="glyphicon glyphicon-plus"></span><span
                          class="sr-only">create contact</span>{{/link-to}}</li>
              {{/if}}
            </ul>
            <div class="nav navbar-nav navbar-right">
              {{#if session.isDecrypted}}

                  <li>{{#link-to 'preferences'}}<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><span
                          class="sr-only">{{t 'actions.preferences'}}</span>{{/link-to}} </li>
                  <li><a href="#" {{action 'invalidateSession'}}><span class="glyphicon glyphicon-log-out"
                                                                       aria-hidden="true"></span><span
                          class="sr-only">{{t 'actions.logout'}}</span></a></li>

                  <!--
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                         aria-haspopup="true" aria-expanded="false">
                        {{session.data.authenticated.email}} <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li>{{#link-to 'preferences'}}{{t 'actions.preferences'}}{{/link-to}}</li>
                          <li><a href="#" {{action 'invalidateSession'}}>{{t 'actions.logout'}}</a></li>
                      </ul>
                  </li>-->
              {{else}}
              {{!--
                <li>{{#link-to 'login'}}{{t 'actions.login'}}{{/link-to}}</li>
                <li>{{#link-to 'signup'}}{{t 'actions.signup'}}{{/link-to}}</li>
                --}}
              {{/if}}
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
  {{#unless isModal}}
      <div class="row">
          <div class="col-sm-offset-3 col-sm-6">
              <div class="flash-messages-container">
                {{#each flashMessages.queue as |flash|}}
                  {{flash-message flash=flash}}
                {{/each}}
              </div>
          </div>
      </div>
  {{/unless}}
    <div class="progress-bar-container">
      {{#if progress.max}}
        {{#bs-progress}}
          {{bs-progress-bar value=progress.value minValue=0 maxValue=progress.max showLabel=false type=progress.type}}
        {{/bs-progress}}
      {{/if}}
    </div>
  {{outlet}}
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted"><a href="" {{action "setLocale" "en-us"}}>English</a> | <a
                href="" {{action "setLocale" "de-de"}}>Deutsch</a></p>
    </div>
</footer>