<div class="row">
    <div class="col-md-4">
        <h2>Contacts</h2>

        <div class="row">
            <div class="col-xs-10">
                {{bs-input type="text" value=query class="input-xs-8" placeholder="Search..."}}
            </div>
            <div class="col-xs-2">
                {{#link-to "contacts.new" class="btn btn-default btn-block" }}<span class="glyphicon glyphicon-plus"></span>{{/link-to}}
            </div>
        </div>
        
        <p></p>
        
        <div class="list-group">
        {{#each filtered as |contact|}}
            {{#link-to "contacts.view" contact class="list-group-item"}}<strong>{{contact.name}}</strong><br/>{{contact.emailAddress}}{{/link-to}}
        {{else}}
            <li class="list-group-item">No results!</li>
        {{/each}}
        </div>
    </div>
    <div class="col-md-8">
        {{outlet}}
    </div>
</div>