<h2>Contacts</h2>

{{#link-to "contacts.new"}}Create new contact{{/link-to}}

<p>
    {{bs-input type="text" value=query placeholder="Search..."}}
</p>

<ul class="list-group">
{{#each filtered as |contact|}}
    <li class="list-group-item">{{contact.name}} - {{contact.emailAddress}} {{#link-to "contacts.view" contact}}view{{/link-to}} {{#link-to "contacts.edit" contact}}edit{{/link-to}}</li>
{{else}}
    <li class="list-group-item">No results!</li>
{{/each}}
</ul>

{{outlet}}
