{{outlet}}

{{#if showDragAndDropHint}}
  {{#bs-alert type="info"}}
    {{format-html-message 'map.dragndrop-to-change'}}
  {{/bs-alert}}
{{/if}}

{{#leaflet-map lat=lat lng=lng zoom=zoom onClick=(action "onMapClick")}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  {{#each filteredModel as |contact|}}
    {{#if contact.location}}
      {{#marker-layer location=contact.location draggable=contact.markerIsDraggable opacity=contact.markerOpacity popupOpen=contact.popupOpen
      onPopupopen=(action "popupOpened" contact) onPopupclose=(action "popupClosed" contact)
      onDragend=(action "onDragEnd" contact)}}
        {{#popup-layer}}
            <b>{{#link-to 'contacts.view' contact}}{{contact.name$}}{{/link-to}}</b>
            <br>{{contact.location_name$}}
            <br>{{contact.emailAddress$}}
        {{/popup-layer}}
      {{/marker-layer}}
    {{/if}}
  {{/each}}

  {{#if stateSaving}}
      <div class="leaflet-top leaflet-right">
          <div class="leaflet-control-attribution">
              <p><span class="glyphicon glyphicon-cog gly-spin"></span> {{t 'map.saving'}}</p>
          </div>
      </div>
  {{/if}}
{{/leaflet-map}}
