<div style="margin-bottom:15px">
  {{#bs-button type='default' action='generateFakes'}}Generate fake contacts{{/bs-button}}
  {{#bs-button type='default' action='clearContacts'}}Delete all contacts{{/bs-button}}
</div>
<hr>

{{outlet}}

{{#leaflet-map lat=lat lng=lng zoom=zoom onClick=(action "onMapClick")}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  {{#each model as |contact|}}
    {{#if contact.location}}
      {{#marker-layer location=contact.location draggable=true popupOpen=contact.popupOpen
      onPopupopen=(action "popupOpened" contact) onPopupclose=(action "popupClosed" contact)
      onDragend=(action "onDragEnd" contact)}}
          <b>{{#link-to 'contacts.view' contact}}{{contact.name$}}{{/link-to}}</b>
          <br>
          Phone: {{contact.phoneNumber$}}
          <br>
          Email: {{contact.emailAddress$}}
      {{/marker-layer}}
    {{/if}}
  {{/each}}

{{/leaflet-map}}
